body{

}

header {
  min-height: 100vh;
  display: grid;
  place-content: center;
}
h1 {
  background-image: url(/img/psydart.webp);
  background-position-y: -100px;
  /* background-position-x: -180px; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1500%;
  text-align: center;
  background-clip: text;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  color: transparent;
  filter: drop-shadow(1px 1px 0px black) drop-shadow(-1px 1px 0px black)
    drop-shadow(1px -1px 0px black) drop-shadow(-1px -1px 0px black)
    brightness(0.7);

  animation: parallax 500ms linear 0s forwards 1;
  animation-timeline: scroll(root y);

  text-wrap: balance;
  
}

@keyframes parallax {
  0% {
    background-position-y: 0px;
  }
  100% {
    
    background-position-y: 1000px;
  }
}



@media print {
  h1 {
    color: black;
  }

  footer {
    display: none;
  }
}
